[user]
    email = wesley.schwengle@exxellence.nl

[bum]
    upstream = zs
    upstream = origin
    issueprefix = ZS
    issueprefix = MINTY
    issueformat = MINTY-[0-9]+

[bum "branches"]
    protected = master
    protected = preprod
    protected = development
    protected = production

[core]
    sshCommand = git-ssh-wrapper xxllnc ~/.ssh/id_ed25519_mintlab

[includeIf "onbranch:**POSTEX**"]
    path = ~/.config/git/opndev.config

[includeIf "onbranch:**postex**"]
    path = ~/.config/git/opndev.config

[includeIf "onbranch:**opndev**"]
    path = ~/.config/git/opndev.config

[includeIf "onbranch:**opndev**"]
    path = ~/.config/git/opndev.config
